{{ bookingForm.value | json }}
{{ bookingForm.pristine | json }}
{{ bookingForm.dirty | json }}
<!-- <br> -->

<div>
    <button mat-raised-button color="primary" (click)="addPassport()">Add Passport</button>
</div>
<div>
    <button mat-raised-button color="primary" (click)="removePassport()">Delete Passport</button>
</div>

<form action="" 
class="example-form" 
[formGroup]="bookingForm"
(ngSubmit)="addBooking()"
>
    <mat-form-field class="example-full-width">
        <mat-label>Room Id</mat-label>
        <input matInput placeholder="Ex. 2" formControlName="roomId">
    </mat-form-field>
    <mat-form-field *ngIf="bookingForm.get('passport')" class="example-full-width">
        <mat-label>Passport</mat-label>
        <input matInput placeholder="Passport Number" formControlName="passport">
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <mat-label>Guest Email</mat-label>
        <input matInput placeholder="Ex. 2" formControlName="guestEmail">
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <mat-label>Check-in Date</mat-label>
            <input 
            matInput
            formControlName="checkinDate"
            [matDatepicker]="picker">
            <mat-hint>
                MM/DD/YYYY
            </mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <!-- <mat-form-field class="example-full-width">
        <mat-label>Check-out Date</mat-label>
            <input 
            matInput
            formControlName="checkoutDate"
            [matDatepicker]="picker">
            <mat-hint>
                MM/DD/YYYY
            </mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field> -->
    <mat-form-field class="example-full-width">
        <mat-label>Booking Status</mat-label>
        <input matInput placeholder="Ex. 2" formControlName="bookingStatus">
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <mat-label>Booking Amount</mat-label>
        <input matInput placeholder="Ex. 2" formControlName="bookingAmount">
    </mat-form-field>

    <div formGroupName="address">
        <mat-accordion class="example-headers-align" multi>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Address
                </mat-panel-title>
              </mat-expansion-panel-header>
          
              <mat-form-field class="example-full-width">
                <mat-label>Address Line 1</mat-label>
                <input matInput placeholder="Address Line 1" formControlName="addressLine1">
              </mat-form-field>
          
              <mat-form-field class="example-full-width">
                <mat-label>Address Line 2</mat-label>
                <input matInput placeholder="Address Line 2" formControlName="addressLine2">
              </mat-form-field>

              <mat-form-field class="example-full-width">
                <mat-label>City</mat-label>
                <input matInput placeholder="City" formControlName="city">
              </mat-form-field>
              
              <mat-form-field class="example-full-width">
                <mat-label>State</mat-label>
                <input matInput placeholder="State" formControlName="state">
              </mat-form-field>
              
              <mat-form-field class="example-full-width">
                <mat-label>Country</mat-label>
                <input matInput placeholder="Country" formControlName="country">
              </mat-form-field>
          
            </mat-expansion-panel>
        </mat-accordion>
    </div>

    <div>
        <button mat-raised-button type="button" color="primary" (click)="addGuest()">Add Guest</button>
    </div>

    <div formArrayName="guests">
        <mat-accordion class="example-headers-align" multi>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Guests
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div *ngFor="let guest of guests.controls; let i=index">
                <div [formGroupName]="i">
                    <mat-accordion class="example-headers-align" multi>
                        <mat-expansion-panel>
                          <mat-expansion-panel-header>
                            <mat-panel-title>
                              Guest {{i+1}}
                            </mat-panel-title>
                          </mat-expansion-panel-header>
                      
                          <mat-form-field class="example-full-width">
                            <mat-label>Guest Name</mat-label>
                            <input matInput placeholder="Guest Name" formControlName="guestName">
                          </mat-form-field>
                      
                          <mat-form-field class="example-full-width">
                            <mat-label>Guest age</mat-label>
                            <input matInput placeholder="Guest Email" formControlName="age">
                          </mat-form-field>
                        </mat-expansion-panel>
                    </mat-accordion>
                </div>
                <div>
                    <button mat-raised-button type="button" color="warn" (click)="removeGuest(i)">Delete Guest</button>
                </div>
            </div>
            </mat-expansion-panel>
        </mat-accordion>
    </div>

    <div>
        <button mat-raised-button color="primary">Book</button>
    </div>
</form>