<!-- Template syntax - Data binding, interpolation, property binding, event binding -->
<!-- <h1>Welcome to {{hotelName}}</h1> -->
<router-outlet></router-outlet>

<!-- <app-header></app-header> -->
<!-- <app-header></app-header>
<app-header></app-header>
<app-header></app-header>
<app-header></app-header> -->

<!-- {{rooms$ | async | json}} -->

<!-- Number of Rooms
<div 
[ngStyle]="{'color': rooms.availableRooms > 0 ? 'green' : 'red'}" 
[innerText]="numberOfRooms">
</div> -->

<!-- Event binding -->
<!-- <button (click)="toggle()">Toggle</button>

<button (click)="editRoom()">Edit Room</button>

<button (click)="deleteRoom()">Delete Room</button> -->

<!-- <div *ngIf="selectedRoom">
    {{ selectedRoom | json }}
</div> -->

<!-- <h1>
    {{totalBytes}}
</h1> -->

<div>
    <button class="btn btn-success" (click)="addRoom()"> Add Room </button>
</div>

<!-- <h1>
    {{ getError$ | async | json }}
    Number of Rooms: {{ roomsCount$ | async }}
</h1> -->
{{ priceFilter | json }}
<div>
    <input type="number" class="form-control" [formControl]="priceFilter" placeholder="Price" >
</div>

<!-- <div *ngIf="rooms$ | async as rooms"> -->
    <!-- Structural and Attribute directives Directives -->
    <!-- <app-rooms-list [rooms]="rooms" [title]="title" (selectedRoom)="selectRoom($event)"></app-rooms-list>
</div> -->
<div *ngIf="roomList.length">
    <!-- Structural and Attribute directives Directives -->
    <app-rooms-list [price]="priceFilter.value!" [rooms]="roomList" [title]="title" (selectedRoom)="selectRoom($event)"></app-rooms-list>
</div>

<!-- structural directive -->
<!-- <div [ngSwitch]="color">
    <div *ngSwitchCase="'yellow'">yellow</div>
    <div *ngSwitchCase="'red'">red</div>
    <div *ngSwitchCase="'blue'">blue</div>
    <div *ngSwitchDefault>No color is correct</div>
</div> -->
