<!-- Template syntax - Data binding, interpolation, property binding, event binding -->
<!-- <h1>Welcome to {{hotelName}}</h1> -->

<app-header></app-header>

<div [hidden]="hideRooms">
    Number of Rooms
    <div 
    [ngStyle]="{'color': rooms.availableRooms > 0 ? 'green' : 'red'}" 
    [innerText]="numberOfRooms">
    </div>
</div>

<!-- Event binding -->
<button (click)="toggle()">Toggle</button>

<div *ngIf="selectedRoom">
    {{ selectedRoom | json }}
</div>

<div>
    <button class="btn btn-warning" (click)="addRoom()"> Add Room </button>
</div>

<!-- Structural and Attribute directives Directives -->
<app-rooms-list [rooms]="roomList" [title]="title" (selectedRoom)="selectRoom($event)"></app-rooms-list>

<!-- structural directive -->
<div [ngSwitch]="color">
    <div *ngSwitchCase="'yellow'">yellow</div>
    <div *ngSwitchCase="'red'">red</div>
    <div *ngSwitchCase="'blue'">blue</div>
    <div *ngSwitchDefault>No color is correct</div>
</div>